#game {
  margin: 50px;
}

#board {
  display: block;
  margin-top: 30px;
  margin-bottom:60px;
}

.board-row {
  clear: both;
}

.square {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  font-weight: 500;
  font-size: 40px;
}

/*.reset-button {
  margin-top: 10px;
}*/
